<script>
    function updateAction(event) {
        event.preventDefault(); // Prevent the form from submitting

        var form = document.querySelector('.searchform');
        var queryInput = document.getElementById('queryInput');
        var companyName = encodeURIComponent(queryInput.value.trim()); // Trim and encode the company name
        var modifiedCompanyName = companyName.toLowerCase().replace(/[^a-zA-Z0-9]/g, '');

        if (modifiedCompanyName !== "") {
            form.action = "/" + modifiedCompanyName; // Update the form action with the company name
        }

        form.submit(); // Submit the form with the updated action
    }

    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }


</script>

</body>

</html>