<script>
    function updateAction(event) {
        event.preventDefault(); // Prevent the form from submitting

        var form = document.querySelector('.searchform');
        var queryInput = document.getElementById('queryInput');
        var companyName = encodeURIComponent(queryInput.value.trim()); // Trim and encode the company name
        var modifiedCompanyName = companyName.toLowerCase().replace(/[^a-zA-Z0-9]/g, '');

        if (modifiedCompanyName !== "") {
            form.action = "/" + modifiedCompanyName; // Update the form action with the company name
        }

        form.submit(); // Submit the form with the updated action
    }
</script>

</body>

</html>