<%- include('partials/header') %>


    <body>
        <div class="updatecont">
            <form action="/company" method="POST">
                <div class="form-group">
                    <label for="Company">Company</label>
                    <input type="text" class="input" name="newcompany">
                </div>
                <button type="submit" class="Createbtn">Create</button>
            </form>
        </div>


    </body>

    <%- include('partials/footer') %>