<%- include('partials/header') %>
  <div class="updatecontainer">

    <form action="/updateitems" method="PUT">
      <input type="text">
      <button type="submit">Submit</button>
    </form>
  </div>
  <%- include('partials/footer') %>